<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         com.enigmabridge.hibernate.dialect.SQLiteDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         org.sqlite.JDBC
      </property>
      
      <property name = "hibernate.connection.url">
         jdbc:sqlite:database/database.sqlite
      </property>
      
      <property name="hibernate.show_sql" >true</property>
      <property name="hibernate.format_sql" >true</property>
      <property name="hibernate.use_sql_comments">true</property>
      
      <!-- Lista de clases a mapear por annotation-->
      <mapping class = "edu.unlam.asistente.database.pojo.Evento"/>
      <mapping class = "edu.unlam.asistente.database.pojo.Usuario"/>
      <mapping class = "edu.unlam.asistente.database.pojo.ChuckNorrisFacts"/>
      <mapping class = "edu.unlam.asistente.database.pojo.Sala"/>
      
   </session-factory>
</hibernate-configuration>